.status {
    background-color: #26ae76;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: fit-content;
    padding: 10px 25px;
    position: fixed;
    border-radius: 15px;
    bottom: 3%;
    left: 1%;
}