.status {
    background-color: #26ae76;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    padding: 10px 25px;
    position: fixed;
    border-radius: 8px;
    bottom: 5%;
    left: 5%;
    z-index: 2000;
    box-shadow: 2px 8px 5px -2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 8px 5px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 8px 5px -2px rgba(0,0,0,0.2);
}