.container {
    min-height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}

.border {
    border-top: 2px solid #c1bfc2;
    margin-top: 100px;
    width: 100%;
}

.container form {
    padding: 25px;
}

.fields {
    margin-top: 30px;
}

.about {
    width: 90%;
}

.labels, .formHeader {
    color: #004E6D;
    font-weight: bold;
    font-size: 18px;
}

.formHeader {
    font-size: 27px;
    padding-top: 0;
}

.submitProject {
    margin-top: 30px;
    font-size: 17px;
}

.successMessage {
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media(min-width: 750px) {
    .container form {
        width: 968px;
        margin: auto;
    }
}