$siteGreen: #36AB9B;

.payment {
    z-index: 1000;
    top: 0;
    left: 0;
    transition: all 0.5s;
    position: fixed;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
}

.paymentClosed {
    transform: translateX(100%);
    opacity: 0;
}

.paymentOpen {
    transform: translateX(0);
    opacity: 1;
}

.innerContainer {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.popup, .paymentNote {
    color: #2b9b8c;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.paymentHeading {
    position: relative;

    h3, span {
        display: inline;
    }

    span {
        position: absolute;
        right: 0;
    }

}

.closeBtn {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.paymentForm {
    text-align: left;
    margin-top: 30px;

    label, .hiddenLabel {
        font-size: 11px;
        font-weight: bold;
    }

}

.amount, .amount input {
    font-size: 20px;
}

.hiddenLabel {
    margin-top: 5px;
    transition: opacity 0.4s;
    color: #36ac9c;
    font-weight: bold;
    opacity: 0;
}

.fields:focus-within {
    .lineInputs {
        border-bottom: 2px solid #36AB9B;
    }

    .hiddenLabel {
        opacity: 1;
    }
}

.lineInputs {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #c1bfc2;
    outline: none;
}

.cardExpiration {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .lineInputs {
        width: 100px;
    }
}

.anon {
    color: #c1bfc2;
    margin-bottom: 20px;
}

.submitPayment {
    font-size: 17px;
    width: 100%;
    padding: 20px;
    margin: auto;
}


@media(min-width: 985px) { 
    .payment {
        transition: all 0.5s;
        position: absolute;
        min-height: fit-content;
        top: auto;
        bottom: 0;
        background-color: transparent;
    }

    .popup {
        position: absolute;
        transition: all 0.5s;
        background-color: #f1fefa;
        border: 2px solid $siteGreen;
        padding: 15px;
        border-radius: 5px;
        color: rgb(40, 62, 46);
        font-weight: normal;
    }

    // Popup down arrow
    .popup::after {
        // layout
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 100%;
        left: 45%; // offset should move with padding of parent
        border: .75rem solid transparent;
        border-bottom: none;
    
        // looks
        border-top-color: #f1fefa;
        filter: drop-shadow(0 2px 0  $siteGreen);
    }
    

    .popupClosed {
        opacity: 0;
    }

    .popupOpen {
        opacity: 1;
        transform: translateY(-100%);
    }

    .closeBtn {
        font-size: 11px;
        padding: 0 10px 10px 10px;
    }

    .innerContainer {
        width: 100%;
        margin: auto;
        padding: 10px;
        background-color: #fff;
    }

    .paymentNote {
        display: none;
    }
}
